[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
feedparser = "*"
pyyaml = "*"
tenacity = "*"
requests-oauthlib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
